{% extends 'base.html' %} 
{% load static %}

<link rel="stylesheet" href="{% static 'main/css/custom.css' %}">
<script src="{% static 'main/js/main.js' %}">
  document.getElementsByClassName("card-box").innerHTML = refreshBooks()
</script>  

{% block content %}
<h1>Book Tracker Page</h1>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<h5>Sesi terakhir login:</h5>
<p> {{ last_login }}</p>
<div class="card-box">
</div>

<button onclick="refreshBooks()">Click me!</button>

{% endblock content %}